glib-2.47.92/build/win32/*/Debug/
glib-2.47.92/build/win32/*/Debug_BundledPCRE/
glib-2.47.92/build/win32/*/Release/
glib-2.47.92/build/win32/*/Release_BundledPCRE/
glib-2.47.92/build/win32/*/glib.opensdf
glib-2.47.92/build/win32/*/glib.sdf
glib-2.47.92/build/win32/*/glib.v12.suo
glib-2.47.92/config.h
glib-2.47.92/glib/glibconfig.h
glib-2.47.92/gmodule/gmoduleconf.h

