glib-2.47.92/build/win32/*/Debug/
glib-2.47.92/build/win32/*/Debug_BundledPCRE/
glib-2.47.92/build/win32/*/Release/
glib-2.47.92/build/win32/*/Release_BundledPCRE/
glib-2.47.92/build/win32/*/glib.opensdf
glib-2.47.92/build/win32/*/glib.sdf
glib-2.47.92/build/win32/*/glib.v12.suo
glib-2.47.92/config.h
glib-2.47.92/glib/glibconfig.h
glib-2.47.92/gmodule/gmoduleconf.h
*.user
vs12/win32/Debug
vs12/win32/Release
vs12/Win32/bin/
vs12/Win32/include/gio-win32-2.0/
vs12/Win32/include/glib-2.0/
vs12/Win32/lib/glib-2.0.lib
vs12/Win32/lib/gmodule-2.0.lib
vs12/Win32/lib/gthread-2.0.lib
vs12/Win32/lib/glib-2.0/
vs12/Win32/share/glib-2.0/
vs12/x64/Debug
vs12/x64/Release
vs12/x64/bin/
vs12/x64/include/gio-win32-2.0/
vs12/x64/include/glib-2.0/
vs12/x64/lib/glib-2.0.lib
vs12/x64/lib/gmodule-2.0.lib
vs12/x64/lib/gthread-2.0.lib
vs12/x64/lib/glib-2.0/
vs12/x64/share/glib-2.0/
vs14/win32/Debug
vs14/win32/Release
vs14/Win32/bin/
vs14/Win32/include/gio-win32-2.0/
vs14/Win32/include/glib-2.0/
vs14/Win32/lib/glib-2.0.lib
vs14/Win32/lib/gmodule-2.0.lib
vs14/Win32/lib/gthread-2.0.lib
vs14/Win32/lib/glib-2.0/
vs14/Win32/share/glib-2.0/
vs14/x64/Debug
vs14/x64/Release
vs14/x64/bin/
vs14/x64/include/gio-win32-2.0/
vs14/x64/include/glib-2.0/
vs14/x64/lib/glib-2.0.lib
vs14/x64/lib/gmodule-2.0.lib
vs14/x64/lib/gthread-2.0.lib
vs14/x64/lib/glib-2.0/
vs14/x64/share/glib-2.0/
Win32/Debug
Win32/Release
x64/Debug
x64/Release
