glib-2.47.92/build/win32/vs12/Debug/
glib-2.47.92/build/win32/vs12/Debug_BundledPCRE/
glib-2.47.92/build/win32/vs12/Release/
glib-2.47.92/build/win32/vs12/glib.opensdf
glib-2.47.92/build/win32/vs12/glib.sdf
glib-2.47.92/build/win32/vs12/glib.v12.suo
glib-2.47.92/build/win32/vs12/glib.vcxproj.user
glib-2.47.92/config.h
glib-2.47.92/glib/glibconfig.h
